<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <%- req.hostname %> -->

  <!-- social shares -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Nomination Hearing" />
  <meta name="title" content="Nomination Hearing" />
  <meta property="og:url" content="https://banking.senate.cash/hearings/01/25/2022/nomination-hearing" />
  <meta property="og:image" content="https://www.banking.senate.gov/themes/banking/images/sharelogo.jpg" />
  <meta name="twitter:image" content="https://www.banking.senate.gov/themes/banking/images/sharelogo.jpg" />
  <meta property="og:title"
    content="Nomination Hearing | United States Committee on Banking, Housing, and Urban Affairs" />

  <meta property="og:description" content="Watch congressional hearings with industry donations displayed" />
  <meta name="twitter:description" content="Watch congressional hearings with industry donations displayed"/>
  <link type=" text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/e5480b71-3632-423f-b5ae-59eeb9517cf5.css" />

  <link rel="stylesheet"
    href="https://www.banking.senate.gov/themes/default_v5/styles/bootstrap.min.css?cachebuster=1522224719">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.banking.senate.gov/themes/default_v5/styles/common.css" type="text/css" />
  <link rel="stylesheet" href="https://www.banking.senate.gov/themes/banking/styles/common.css?cachebuster=1612449811">
  <link rel="stylesheet" href="/css/watch.css" type="text/css" />
</head>

<body id="hearing" class="bg1  two-col ">
  <div id="header" class="interior">
    <div class="container">
      <a href="/" class="logo-hold top-left">
        <!-- <img alt="Banking, Housing, and Urban Affairs Circle Logo" class="circle-logo"
          src="https://www.banking.senate.gov/themes/banking/images/circle.svg"> -->
        <div class="logo-text">
          <div class="top">United $tate$ $enate Committee On</div>
          <div class="bottom">Banking, Hou$ing, and Urban Affair$</div>
        </div>
      </a>
    </div>
  </div>
  <div id="content" role="main">
    <div id="main_container" class="container">
      <div class="one_column row">
        <div class="video-container">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              src="/player?comm=banking&filename=banking020322&auto_play=false&wmode=transparent&poster=https%3A%2F%2Fwww%2Ebanking%2Esenate%2Egov%2Fthemes%2Fbanking%2Fimages%2Fvideo%2Dposter%2Dflash%2Dfit%2Epng"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  </main>
</body>

</html>